

.onpage {
  background-color : #B1A9AC;
  font-family:  Monospace;
  font-size: 1.2em;
  list-style-type:none;
  width: 400px;
  border-collapse: collapse;
  border: none;
  margin: 0px;
  padding: 3px 10px 0px;
  position: fixed;
  top: 192px;
  right: 130px; 
}

.onpage ul a:link  {
  background: transparent; 
  }
.onpage a:link { color: #0058BA; text-decoration: none;}  
.onpage a:focus,
.onpage a:hover { color: #0058BA; text-decoration: underline;  }
.onpage a:visited { color: #0058BA; }

.onpage ul {
    list-style: none;
    padding: 0px;
}

.onpage ul ul li a, 
.onpage ul ul li a:link {
  text-align: left;
  height: 17px;
  padding: 4px 14px 6px;   /*  drop down list padding */
  display: block;
  background: #D88EA7; 
  font-family: Monospace;
  font-size: 0.9em;
  text-decoration: none;
  }
  
.onpage ul ul li a:visited {
  background: #A9ABB9; 
  }
  
.onpage ul ul {
    display: none;
    margin-left: -56px;    /* move drop down list to the left */
  width: 420px;
  height: 15px;
  color: #494E68;
   
}

.onpage ul li ul li {
    width: 100%;
    height: 24px;
    padding: 0px;
    display: block;
}


.onpage ul li:hover > ul {
    position: absolute;
    display: block;
    height: 15px;
}

.onpage ul ul li a, 
.onpage ul ul li a:link,
.onpage ul ul li a:visited  {
  color: #1E1E1E;
}

.onpage ul ul li a:hover {
   background: #4E58C6; 
  # border: 2px;
   #outline-color: #0000FF;
    color: #CECECE;
}

