<div class="nav">
<nav>
  <ul>
    <li></li>
    <li>
        <a href="{{site.baseurl}}/index.html" id="intro">Intro</a>
    </li>
    <li>
        <a href="{{site.baseurl}}/netinstall.html" id="net">Net Install</a>
             <ul>
                <li><a href="{{site.baseurl}}/netinstall/step1.html">Step1..Netinstall CD</a></li>
                <li><a href="{{site.baseurl}}/netinstall/step2.html">Step2....editors</a></li>
                <li><a href="{{site.baseurl}}/netinstall/step3.html">Step3..media players</a></li>
                <li><a href="{{site.baseurl}}/netinstall/step4.html">Step4....web browsers</a></li>
                <li><a href="{{site.baseurl}}/netinstall/step5.html">Step5....multiarch</a></li>
                <li><a href="{{site.baseurl}}/netinstall/lxde-fast.html">lxde fast install</a></li>
                <li><a href="{{site.baseurl}}/netinstall/upgrade.html">upgrade debian</a></li>
                <li><a href="{{site.baseurl}}/netinstall/go-devuan.html">go devuan</a></li>
             </ul> 
    </li>
    <li>
        <a href="{{site.baseurl}}/configure.html" id="config">Configure</a>
            <ul>
                <li><a href="{{site.baseurl}}/config/xfce.html">XFCE</a></li>
                <li><a href="{{site.baseurl}}/config/lxde-openbox.html">LXDE/Openbox</a></li>
                <li><a href="{{site.baseurl}}/config/plain-openbox.html">Plain openbox</a></li>
                <li><a href="{{site.baseurl}}/config/bashrc.html">Bash config</a></li>
                <li><a href="{{site.baseurl}}/config/xterm.html">Xterm - Xpdf</a></li>
                <li><a href="{{site.baseurl}}/config/urxvt.html">Rxvt-unicode</a></li>
                <li><a href="{{site.baseurl}}/config/ranger.html">Ranger</a></li>
                <li><a href="{{site.baseurl}}/config/thunar.html">Thunar</a></li>
                <li><a href="{{site.baseurl}}/config/firewall.html">Firewall</a></li>
                <li><a href="{{site.baseurl}}/config/xnview.html">XnView MP</a></li>
            </ul>
    </li>
    <li>
        <a href="{{site.baseurl}}/tutorials.html" id="tutor">My Tutorials</a>
             <ul>
                <li><a href="{{site.baseurl}}/tutorial/01-dual-pane-browsers.html">Dual pane browsers</a></li>
                <li><a href="{{site.baseurl}}/tutorial/02-media-browsers.html">Media browsers</a></li>
                <li><a href="{{site.baseurl}}/tutorial/03-image-processing.html">Image processing</a></li>
                <li><a href="{{site.baseurl}}/tutorial/03a-xnview-tips.html">XnView Tips</a></li>
                <li><a href="{{site.baseurl}}/tutorial/04b-video-editors.html">Video editors review</a></li>
                <li><a href="{{site.baseurl}}/tutorial/04-kdenlive-hd-video.html">Working with HD video</a></li>
                <li><a href="{{site.baseurl}}/tutorial/04a-blender-vse.html">Blender VSE</a></li>
                <li><a href="{{site.baseurl}}/tutorial/04c-cinelerra.html">Cinelerra</a></td>
                <li><a href="{{site.baseurl}}/tutorial/05-dvd-authoring.html">Dvd authoring</a></li>
                <li><a href="{{site.baseurl}}/tutorial/06-cdrtools.html">Cdrtools</a></li>
                <li><a href="{{site.baseurl}}/tutorial/07-cd-copy.html">CD copy</a></li>
                <li><a href="{{site.baseurl}}/tutorial/09-opera.html">Opera</a></li>
                <li><a href="{{site.baseurl}}/tutorial/10-uzbl.html">Uzbl</a></li>
                <li><a href="{{site.baseurl}}/tutorial/11-solar-system-sims.html">Solar system sims</a></li>
                <li><a href="{{site.baseurl}}/tutorial/11a-gps.html">GIS</a></li>
                <li><a href="{{site.baseurl}}/tutorial/12-useful-apps.html">Useful apps</a></li>
                <li><a href="{{site.baseurl}}/tutorial/12a-libre-writer.html">Libre writer</a></li>
                <li><a href="{{site.baseurl}}/tutorial/13-lucky-backup.html">Lucky backup</a></li>
                <li><a href="{{site.baseurl}}/tutorial/14-cloud-syncing.html">Cloud syncing</a></li>
                <li><a href="{{site.baseurl}}/tutorial/15-config-migrate.html">Config migrate</a></li>
                <li><a href="{{site.baseurl}}/tutorial/16-system-backup.html">System backup</a></li>
                <li><a href="{{site.baseurl}}/tutorial/17-remote-install.html">Remote install</a></li>
                <li><a href="{{site.baseurl}}/tutorial/18-partition-copy.html">Partition copy</a></li>
                <li><a href="{{site.baseurl}}/tutorial/19-fog-part-imaging.html">Fog part imaging</a></li>
                <li><a href="{{site.baseurl}}/tutorial/20-networking-with-nfs.html">Networking with nfs</a></li>
                <li><a href="{{site.baseurl}}/tutorial/21-php-local.html">Php local</a></li>
                <li><a href="{{site.baseurl}}/tutorial/22-github-pages.html">Github pages</a></li>
             </ul>
    </li>
     <li>
        <a href="{{site.baseurl}}/cli.html" id="cli">CLI</a>
            <ul>
                <li><a href="{{site.baseurl}}/tutorial/cli/01-terminal.html">Basic terminal</a></li>
                <li><a href="{{site.baseurl}}/tutorial/cli/02-unix.html">Unix commands</a></li>
                <li><a href="{{site.baseurl}}/tutorial/cli/02a-vim.html">Vim</a></li>
                <li><a href="{{site.baseurl}}/tutorial/cli/03-bash-renaming.html">Bash renaming</a></li>
                <li><a href="{{site.baseurl}}/tutorial/cli/04-cli-picasa-upload.html">Picasa uploads</a></li>
                <li><a href="{{site.baseurl}}/tutorial/cli/05-ffmpeg-commands.html">Ffmpeg</a></li>
            </ul>
    </li>
     <li>
        <a href="{{site.baseurl}}/helps.html" id="help">Helps</a>
              <ul>
                <li><a href="{{site.baseurl}}/helps/01-usb-installer.html">Usb installer</a></li>
                <li><a href="{{site.baseurl}}/helps/02-grub.html">Grub</a></li>
                <li><a href="{{site.baseurl}}/helps/03-chrooting.html">Chrooting</a></li>
                <li><a href="{{site.baseurl}}/helps/07-user-host-name.html">User host name</a></li>
                <li><a href="{{site.baseurl}}/helps/08-set-locale-time.html">Set locale time</a></li>
                <li><a href="{{site.baseurl}}/helps/09-screen-brightness.html">Screen brightness</a></li>
                <li><a href="{{site.baseurl}}/helps/10-screen-res.html">Screen res</a></li>
                <li><a href="{{site.baseurl}}/helps/11-trackpad.html">Trackpad</a></li>
                <li><a href="{{site.baseurl}}/helps/12-bluetooth-reconnect.html">Bluetooth reconnect</a></li>
                <li><a href="{{site.baseurl}}/helps/13-printers.html">Printers</a></li>
                <li><a href="{{site.baseurl}}/helps/14-undelete.html">Undelete</a></li>
                <li><a href="{{site.baseurl}}/helps/15-format-usb-stick.html">Format usb stick</a></li>
                <li><a href="{{site.baseurl}}/helps/16-problems.html">Problems</a></li>
                <li><a href="{{site.baseurl}}/helps/17-remove-systemd.html">Remove systemd</a></li>
                <li><a href="{{site.baseurl}}/helps/18-volume-boost.html">Volume Boost with Alsa</a></li>
             </ul>
    </li>
    <li></li>
  </ul>
  </nav>
</div>

