<div class="nav">
<nav>
  <ul>
    <li></li>
    <li>
        <a href="index.html" id="intro">Intro</a>
    </li>
    <li>
        <a href="content.html" id="cont">Content</a>
    </li>
    <li>
        <a href="netinstall.html" id="net">Net Install</a>
             <ul>
                <li><a href="netinstall/step1.html">Step1....Netinstall CD</a></li>
                <li><a href="netinstall/step2.html">Step2....editors</a></li>
                <li><a href="netinstall/step3.html">Step3....media players</a></li>
                <li><a href="netinstall/step4.html">Step4....web browsers</a></li>
                <li><a href="netinstall/lxde-fast.html">lxde fast install</a></li>
                <li><a href="netinstall/upgrade.html">upgrade debian</a></li>
                <li><a href="netinstall/go-devuan.html">go devuan</a></li>
             </ul>
    </li>
    <li>
        <a href="configure.html" id="config">Configure</a>
            <ul>
                <li><a href="config/xfce.html">XFCE</a></li>
                <li><a href="config/lxde-openbox.html">LXDE/Openbox</a></li>
                <li><a href="config/plain-openbox.html">Plain openbox</a></li>
                <li><a href="config/bashrc.html">Bash config</a></li>
                <li><a href="config/xterm.html">Xterm - Xpdf</a></li>
                <li><a href="config/urxvt.html">Rxvt-unicode</a></li>
                <li><a href="config/ranger.html">Ranger</a></li>
                <li><a href="config/thunar.html">Thunar</a></li>
                <li><a href="config/firewall.html">Firewall</a></li>
                <li><a href="config/xnview.html">XnView MP</a></li>
            </ul>
    </li>
    <li>
        <a href="tutorials.html" id="tutor">My Tutorials</a>
             <ul>
                <li><a href="tutorial/01-dual-pane-browsers.html">Dual pane browsers</a></li>
                <li><a href="tutorial/02-media-browsers.html">Media browsers</a></li>
                <li><a href="tutorial/03-image-processing.html">Image processing</a></li>
                <li><a href="tutorial/03a-xnview-tips.html">XnView Tips</a></li>
                <li><a href="tutorial/04-working-with-hd-video.html">Working with HD video</a></li>
                <li><a href="tutorial/05-dvd-authoring.html">Dvd authoring</a></li>
                <li><a href="tutorial/06-cdrtools.html">Cdrtools</a></li>
                <li><a href="tutorial/07-cd-copy.html">CD copy</a></li>
                <li><a href="tutorial/09-opera.html">Opera</a></li>
                <li><a href="tutorial/10-uzbl.html">Uzbl</a></li>
                <li><a href="tutorial/11-solar-system-sims.html">Solar system sims</a></li>
                <li><a href="tutorial/11a-gps.html">Geo data</a></li>
                <li><a href="tutorial/12-useful-apps.html">Useful apps</a></li>
                <li><a href="tutorial/12a-libre-writer.html">Libre writer</a></li>
                <li><a href="tutorial/13-lucky-backup.html">Lucky backup</a></li>
                <li><a href="tutorial/14-cloud-syncing.html">Cloud syncing</a></li>
                <li><a href="tutorial/15-config-migrate.html">Config migrate</a></li>
                <li><a href="tutorial/16-system-backup.html">System backup</a></li>
                <li><a href="tutorial/17-remote-install.html">Remote install</a></li>
                <li><a href="tutorial/18-partition-copy.html">Partition copy</a></li>
                <li><a href="tutorial/19-fog-part-imaging.html">Fog part imaging</a></li>
                <li><a href="tutorial/20-networking-with-nfs.html">Networking with nfs</a></li>
                <li><a href="tutorial/21-php-local.html">Php local</a></li>
                <li><a href="tutorial/22-github-pages.html">Github pages</a></li>
             </ul>
    </li>
     <li>
        <a href="cli.html" id="cli">CLI</a>
            <ul>
                <li><a href="tutorial/cli/01-terminal.html">Basic terminal</a></li>
                <li><a href="tutorial/cli/02-unix.html">Unix commands</a></li>
                <li><a href="tutorial/cli/02a-vim.html">Vim</a></li>
                <li><a href="tutorial/cli/03-bash-renaming.html">Bash renaming</a></li>
                <li><a href="tutorial/cli/04-cli-picasa-upload.html">Picasa uploads</a></li>
                <li><a href="tutorial/cli/05-ffmpeg-commands.html">Ffmpeg</a></li>
            </ul>
    </li>
     <li>
        <a href="helps.html" id="help">Helps</a>
              <ul>
                <li><a href="helps/01-usb-installer.html">Usb installer</a></li>
                <li><a href="helps/02-grub.html">Grub</a></li>
                <li><a href="helps/03-chrooting.html">Chrooting</a></li>
                <li><a href="helps/07-user-host-name.html">User host name</a></li>
                <li><a href="helps/08-set-locale-time.html">Set locale time</a></li>
                <li><a href="helps/09-screen-brightness.html">Screen brightness</a></li>
                <li><a href="helps/10-screen-res.html">Screen res</a></li>
                <li><a href="helps/11-trackpad.html">Trackpad</a></li>
                <li><a href="helps/12-bluetooth-reconnect.html">Bluetooth reconnect</a></li>
                <li><a href="helps/13-printers.html">Printers</a></li>
                <li><a href="helps/14-undelete.html">Undelete</a></li>
                <li><a href="helps/15-format-usb-stick.html">Format usb stick</a></li>
                <li><a href="helps/16-problems.html">Problems</a></li>
                <li><a href="helps/17-remove-systemd.html">Remove systemd</a></li>
             </ul>
    </li>
    <li></li>
  </ul>
  </nav>
</div>

