

<!-- the <h1> tag is for title in the header -->


<h2>This is a secondary header for section</h2>

<h3>This is a sub section header</h3>


<!-- this is css centered, 0.9em bold -->
<p class="ctr">Centered</p>


<!-- this is xfce header with red div bg -->
<h4>xfce</h4>

<!-- this is blue -->
<span class="blue"> </span>

<!-- this is bold blue anywhere -->
<span class="bblue"> </span>

<!-- highlighted with blue bg -->
<span class="ht">highlight</span>

<!-- highlighted with orange bg -->
<span class="caut">highlight</span>


<span class="inst">install</span>

<span class="cmd">cmd</span>

<span class="prob">problem</span>

<span class="file">file</span>


<span style="font-size: 18; color: #134f5c; ">size-color</span>


<!-- bullet list with css spacing -->

<div class="bullet"><ul><li> </li>
</ul></div>

<!-- numbered list with css spacing -->

<div class="numb"><ol><li> </li>
</ol></div>


<!-- horizontal rule -->
<hr noshade="noshade">


<!-- apt-get install box -->
<br>
<form><textarea name="T" id="install" rows="1" cols="80">
sudo apt-get install </textarea>
&nbsp;<input type="button" class="submitLink" value="Select all" onClick="javascript:this.form.T.focus();this.form.T.select();">
</form>


<!-- commands box -->
<form><textarea name="T" id="cmd" rows="1" cols="30">
sudo cp</textarea>
&nbsp;<input type="button" class="submitLink" value="Select all" onClick="javascript:this.form.T.focus();this.form.T.select();">
</form>


<!-- file contents box -->
<form><textarea name="T" id="file" rows="1" cols="80">
main</textarea>
&nbsp;<input type="button" class="submitLink" value="Select all" onClick="javascript:this.form.T.focus();this.form.T.select();">
</form>


